@import url('https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro');

body {
  font-family: "Source Sans Pro", sans-serif ;
  letter-spacing: 0.1em;
  margin: 0;
  white-space: pre-line;
}

html, body { height: 100%; }

mat-spinner {
  margin: auto;
}
